/* page2 cont */
/* .container1{
	flex: 1;
	margin-top: 100px;
	background-color: #eee;
	display: flex;
} */

/* .first-column-content{
	display: inline-flex;
	flex-direction: column;
} */

.container1{
	width: 100%;
	height: auto;
	background-color: #ffffff;
    padding: 0;
    font-weight: 500;
    flex-direction: column;
    margin-top: 100px;
}

.first-column-content {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: flex;
    overflow: auto;
    justify-content: space-between;
}

.title-container1{
    font-weight: 400;
	color: #1c2d3d;
	padding-left: 0;
	margin-bottom: 0px;
	padding-top: 0px;
}

.list1{
	font-weight: 400;
    font-size: 19px;
	color: #1c2d3d;
    list-style: none; 
    margin-right: 40px;
    width: 550px;
}
.list1 li {
    border-bottom: 1px solid #1c2d3d; /* Додати лінію між кожним пунктом */
    padding: 14px 0; /* Додати відступи для зручності */
    position: static;
}

.list1 li::before {
	content: "\2022";
	color: #e20714;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
    position: absolute;
}

.architect-pic{
    height: 300px;
    align-self: flex-start; 
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 1220px){
    .first-column-content{
        width: 100%; 
        padding-right: 30px;
        padding-left: 30px;
        justify-content: center;
    }
    .architect-pic{
        height: 250px;
    }
}
@media(max-width: 900px){
    .first-column-content{
        flex-direction: column-reverse;
    }
    .architect-pic{
        height: 250px;
    }
    .list1{
        width: 500px;
    }
}

@media(max-width: 700px){
    .list1{
        width: 375px;
    }
}
/*  */

