body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Kanit', sans-serif;
}

/* top-bar args */
.top-bar {
    min-height: 50px; /* Set a minimum height for the top bar */
    background-color: #ffffff;
    padding: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; 
    display: flex;
    align-items: center;
}

.top-bar-elements {
    display: flex;
    align-items: center;
    width: 100%;
}

.top-bar-logo{
	margin-left: 10px;
	margin-right: 35px;
	max-height: 11%;
    max-width: 11%;
    height: auto;
    width: auto;
    min-width: 155px; 
}

.top-bar-buttons{
	display: flex;
	align-items: center;
}

.top-button1 {
    border: none;
    background: none;
    padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px; padding-right: 0px;
    font-size: 15px;
	font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    color: #1c2d3d; /* Set the default color */
    transition: color 0.4s ease; /* Add color transition for smooth effect */
}

.top-button2 {
	margin-right: ;
    border: none;
    background: none;
    padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px; padding-right: 0px;
    font-size: 15px;
	font-weight: 400;
    cursor: pointer;
    position: relative;
    color: #1c2d3d; /* Set the default color */
    transition: color 0.4s ease; /* Add color transition for smooth effect */
}

@media (min-width: 1720px) {
	.top-bar-logo{
		margin-right: 0px;
	}
	.top-button1 { 
		margin-right: 40px;
	}
}


.top-button1::after,
.top-button2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1.5px;
    background-color: #e20714;
    transition: width 0.3s ease;
}

.top-button1:hover,
.top-button2:hover {
    color: #e20714; /* Change the color on hover */
}

.top-button1:hover::after,
.top-button2:hover::after {
    width: 100%;
    color: #e20714; /* Change the color of the text on hover */
}
/*  */


.titel {
	text-align: center;
    font-size: 64px;
    font-weight: 500;
	word-wrap: break-word;
}

.text{
	font-size: 32px;
	font-weight: 300;
}

#slogantxt{
	text-align: center;
	max-width: 85%;
	padding: 0;
	text-shadow: -3px 5px 5px rgba(0, 0, 0, 0.5);
}

.slogan{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	text-shadow: -3px 5px 5px rgba(0, 0, 0, 0.5);
	color: #fff;
	background-image: url(../images/gray_back.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	margin: 0;
}

.slogan::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -2;
}

.big-button{
	background: #1c2d3d;
	display: inline-block;
	padding: 2.2vh 11vh;
	background:#1c2d3d;
	border-radius: 8px;
	border: 1px solid #1c2d3d;
	transition: 0.72s;
	font-size: 18px;
	color: #ffffff;
	opacity: 0.9;
	box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	margin-top: 7vh;
  }

.button:hover{ 
	transform: scale(1.08); 
	transition: 0.16s;
	}
.button:not(:hover) {
		transform: scale(1);
		transition: transform 0.16s;
	}
@media (max-width: 850px){
	#slogantxt{
		max-width: 92%;
	}
	.titel{
		margin-top: 120px;
		margin-bottom: 60px;
		line-height: 100%;
		font-size: 60px;
	}
	.text{
		margin-top: 15px;
		margin-bottom: 0px;
		line-height: 120%;
	}
	.big-button{
		margin-bottom:4vh;
	}
}

@media (max-width: 450px){
	.titel{
		margin-top: 100px;
		line-height: 100%;
		font-size: 60px;
		margin-bottom: 2vh;
	}
}

/*  */

/* біографіяяяяя */
.bio-container{
	margin-top: 0px;
	padding-top: 0px;
}

.bio-container-text-left{
	margin-top: 0px;
	background-color: #fff;
}

.bio-container-text-left-content{
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 30px;
	width: 80%;
	padding-bottom: 20px;
}

.bio-container-text-left-content-1{
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	width: 80%;
}

.bio-header1{
	font-weight: 400;
	color: #1c2d3d;
	padding-left: 0;
	margin-bottom: 0px;
}
.bio-text1{
	font-weight: 400;
	color: #1c2d3d;
	font-size: 19px;
}

.bio-werdegang{
	background-color: #eee;
}

.bio-werdegang-content{
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	width: 80%;
	overflow: auto;
	justify-content: space-between;
}

.image-column-bio{
	align-items: center;
}	

.bias-photo{
	height: 450px;
	float: left;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 30px;
}

@media (max-width: 1120px){
	.bias-photo{
		height: 250px;
	}
}

.bio-header2{
	font-weight: 400;
	color: #1c2d3d;
	padding-left: 0;
	margin: 0;
}
.biografie1{
	overflow: hidden;
	list-style: none;
	font-weight: 400;
	color: #1c2d3d;
	font-size: 19px;
	padding-left: 20px;
}

.biografie1 li::before {
	content: "\2022";
	color: #e20714;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

/*footer  */
.footer{
	width: 100%;
	height: auto;
	background-color: #eee;
	margin-top: 40px;
    padding: 0;
}

.footer-content{
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 50px;
	width: 80%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.find-us, 
.kontakt,
.rights{
	flex-basis: 33%; /* Изменено на flex-basis для установки минимальной ширин*/
	flex-grow: 1;
	box-sizing: border-box;
}

.strong-footer{
	color: #1c2d3d;
	font-weight: 600;
	display: block;
	margin-top: 0px;
	margin-bottom: 15px;
}

.footer-button{
	cursor: pointer;
	text-decoration: none;
	color: #1c2d3d; /* Set the default color */
    transition: color 0.3s ease; 
	display: block;
	padding-bottom: 15px;
}

.footer-button-1{
	cursor: pointer;
	font-weight: 400;
	color: #1c2d3d; /* Set the default color */
	text-decoration: none;
    transition: color 0.3s ease; 
	display: block;
	margin: 0px;
	padding: 0px;
}

.footer-button:hover,
.footer-button-1:hover{
    color: #e20714; /* Change the color on hover */
}

.footer-button:hover::after,
.footer-button-1:hover::after {
    width: 100%;
    color: #e20714; /* Change the color of the text on hover */
}

@media (max-width: 1120px){
	.footer-content{
		display: table;
		flex-wrap: wrap;
	}
}

/*  */

@media (max-width: 1120px) {
    .bio-container-text-left-content,
    .bio-container-text-left-content-1,
    .bio-werdegang-content,
    .footer-content{
		width: 100%;
    }
}

/* page2 cont */
.container1{
	flex: 1;
	margin-top: 100px;
	background-color: #8d91956a;
	display: flex;
}

.first-column{
	display: inline-flex;
	flex-direction: column;
}

.second-column{
	display: inline-flex;
	flex-direction: column;
}

.title-container1{
	font-weight: 500;
}

.list1{
	font-weight: 400;
	color: #1c2d3d;
}
.list1 li {
    border-bottom: 1px solid #1c2d3d; /* Додати лінію між кожним пунктом */
    padding: 10px 0; /* Додати відступи для зручності */
}

.architect-pic{
    flex-shrink: 0;
    max-width: 100%; /* Set maximum width to 100% */
    height: auto; /* Maintain aspect ratio */
    display: flex;/* Remove any default inline spacing */
}

/*  */

