.titel {
	text-align: center;
	font: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.biografie{
	list-style: none;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	line-height: 40px;
}
.lightbox { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.lightbox img {
    max-width: 100%;
    height: auto;
}

#wrapper {
	text-align: center;
}
