.titel {
	text-align: center;
	font: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.biografie{
	list-style: none;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	line-height: 40px;
}
.lightbox { 
	border:1px solid #cccccc; 
	padding: 2px; 
	margin: auto;
}
